html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body * {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  background: gray;
}

.canvas {
  display: block;
  background: white;
  margin: 0px auto;
  padding: 40px;
  width: 780px;
  height: 100%;
  max-height: 100vh;
  max-width: 780px;
  overflow: auto;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr,
td {
  padding: 0;
  margin: 0;
}

.linea {
  display: block;
  width: 100%;
  border-top: 1px solid gray;
  margin: 1em 0;
}

.encabezado .logo {
  width: 41.99%;
}
.encabezado .info-documento {
  width: 38%;
}
.encabezado .info-documento .tipo {
  font-weight: bold;
  font-size: 1.2rem;
  vertical-align: middle;
}
.encabezado .info-documento .datos {
  width: 100%;
}
.encabezado .letra {
  font-size: 6rem;
  text-align: center;
}

/*
.destinatario {
}
*/

/*# sourceMappingURL=factura.css.map */
