<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>{{ $cliente->nombre }}</title>
    <link rel="stylesheet" href="./factura.css">
</head>

<body>
    <div class="canvas">
        <table class="encabezado">
            <tr>
                <td class="logo">
                    <img alt="logo Global Innovation Arg"
                        src="https://d33wubrfki0l68.cloudfront.net/3bb9be85d4c476b642f062d88f105aba0054b4f9/a4b8c/assets/img/logo.png">
                </td>
                <td class="letra">A</td>
                <td class="info-documento">
                    <p class="tipo">FACTURA DE VENTA</p>
                    <table class="datos">
                        <tr><th>Número:</th><td>0000-000000</td></tr>
                        <tr><th>Fecha:</th><td>14/10/2019</td></tr>
                        <tr><th>CUIT:</th><td>30-71637596-6</td></tr>
                        <tr><th>Ing. Brutos:</th><td>30-71637596-6</td></tr>
                        <tr><th>Inicio Act.:</th><td>14/10/2019</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="linea"></div>
        <table class="destinatario">
            <tbody>
                <tr>
                    <th>Sr. (es):</th>
                    <td>Un cliente random</td>
                    <th>CUIT</th>
                    <td>99-99999999-9</td>
                </tr>
                <tr>
                    <th>Domicilio</th>
                    <td>Calle Falsa 123 Piso: 100 Dpto: X, Ciudad Autónoma de Buenos Aires, Argentina </td>
                    <th>Cond. IVA</th>
                    <td>Responsable Inscripto</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
